 #navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 2rem;
     background-color: #222;
 }

 #navbar h2 a {
     display: flex;
     align-items: center;
     gap: 0.5rem;
 }

 #navbar form {
     display: flex;
     gap: 0.5rem;
 }

 #navbar form input {
     padding: 0.5rem 0.8rem;
     border: none;
     border-radius: 4px;
 }

 #navbar form button {
     background-color: #ff6347;
     border: 2px solid #ff6347;
     padding: 0.5rem 0.8rem;
     border-radius: 4px;
     color: white;
     cursor: pointer;
     font-size: 1.3rem;
     display: flex;
     align-items: center;
     cursor: pointer;
     transition: 0.4s;
 }

    #navbar form button:hover {
        background-color: transparent;
        color: #ff6347;
    }