.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: #ffcc00;
}

.movies-container {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;

}

.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222;
    padding: 1rem;
}


.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: #ffcc00;
}

.movies-container div a {
    background-color: #ff6347;
    border: 2px solid #ff6347;
    padding: 1rem 0.5rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    align-items: center;
    transition: 0.4s;
    text-align: center;
    font-weight: bold;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #ff6347;
}


/* Responsive Design */
@media (max-width: 900px) {
    .movies-container div {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media (max-width: 600px) {
    .movies-container div {
        flex: 1 1 100%;
    }
}