.movie-page {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

.movie-card {
    max-width: 400px;
    width: 100%;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.info {
    margin-top: 20px;
    h3 {
        margin-bottom: 10px;
        font-size: 18px;
        span {
            font-weight: normal;
        }
    }
}

.tagline {
    font-style: italic;
    margin-top: 10px;
    color: #555;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.movie-page svg{
   font-size: 1.5rem; 
   color: #ff6347;
}

.movie-page .movie-card img, 
.movie-page .movie-card h2,
.movie-page .movie-card p{
    margin-bottom: 1rem;
    color: #aaa;
    
}
.movie-page .movie-card h2{
    font-size: 2rem;
}

.movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.2rem;

}


@media (min-width: 769px) {
    .movie-page {
        padding: 20px;
        .info {
            h3 {
                font-size: 18px;
            }
        }
    }
    .movie-page .movie-card img {
        height: auto;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .movie-page {
        padding: 10px;
        .info {
            h3 {
                font-size: 16px;
            }
        }

    }
    .movie-page .movie-card img {
        width: 100%;
        height: auto;

    }
}

@media (max-width: 480px) {
    .movie-page {
        padding: 5px;
        .info {
            h3 {
                font-size: 14px;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .movie-page .movie-card img {
        width: 100%;
        height: auto;
    }
}



