* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ff6347;
    transition: 0.5s;
}

a:hover {
    color: #ca5844;
}